.page {
  max-width: inherit;
  max-height: inherit;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2.5fr 7.6fr;
  align-items: center;
}

/* MAIN STYLES */
.main {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: inherit;
  max-width: inherit;
  height: 100%;
  width: 100%;
  padding: 5rem 5rem 0 0;
  color: #cccccc;
}

.fade_up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpAnimation 0.75s ease 0.1s forwards;
}

@keyframes fadeUpAnimation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
