/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

.page_header__kVzhN {
  font-size: 14px;
  padding: 0px 14px 0px 14px;
}

.page_outer_menu__tjajc {
  height: 45rem;
}

.page_items_container__2yUdU {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

/* LOGO STYLES */

.page_logo_container__D5EJA {
  padding: 1rem 0rem 0.25rem 0rem;
}

.page_logo__7fc9l {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  margin: 0 20px 30px 0;
}

/* LINKS MENU */

.page_menu__71kMP {
  display: block;
}

.page_menu__71kMP ul {
  list-style-type: none;
}

.page_menu__71kMP ul :nth-child(1) {
  animation-delay: 0.15s;
}

.page_menu__71kMP ul :nth-child(2) {
  animation-delay: 0.3s;
}

.page_menu__71kMP ul :nth-child(3) {
  animation-delay: 0.45s;
}

.page_item__z7Kdy {
  padding: 0rem 0rem 0.3rem 0rem;
  font-weight: 600;
}

.page_item__z7Kdy a {
  transition:
    opacity 500ms ease,
    top 500ms ease;
  color: #cccccc;
  position: relative;
  outline: none;
  text-decoration: none;
  padding: 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0);
}

.page_item__z7Kdy a:hover {
  opacity: 0.5;
}

.page_fade_up__sECnL {
  opacity: 0;
  transform: translateY(20px);
  animation: page_fadeUpAnimation__gRDlD 0.75s ease 0.1s forwards;
}

@keyframes page_fadeUpAnimation__gRDlD {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* LOGO MENU */

.page_socials__ncsex {
  margin: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

