@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl;
        @apply font-medium;
    }
    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-2xl;
    }
    h4 {
        @apply text-xl;
    }
    li, p {
        @apply text-black/60;
        @apply font-semibold;
        @apply text-xs;
        @apply md:text-lg;
    }
    strong {
        @apply text-black;
        @apply font-bold;
        @apply text-xs;
        @apply md:text-base;
        
    }
    button {
        @apply font-light;
        @apply md:font-medium
    }
    html {
        @apply scroll-smooth
    }
}

h1, h2, h3, h4, p, html, button {
    font-family: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";;
}

.inter-var{
    font-family: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.proxima-nova {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*  possibly use for p 
.lora {
    font-family: Lora, serif;
} */

/* possibly use for headers (h1, h2, ...)
.roboto-mono {
    font-family: 'Roboto Mono', sans-serif;
}  */